<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Delete</title>
</head>
<body id="background">
    <!--  MODAL DELETE  -->
			<div id="modal">
				<div class="modal_delete">
					<h1>Delete Best Deck</h1>
					<hr>
					<br>
					<form action="/" method="POST">
		
						<select name="delete-select">
							<option value="opcao" th:each="baralho : ${baralhos}" th:text="${baralho.nome}"></option>
						</select>
						
						<a href="/" >Voltar</a>
						<button type="submit" class="button" onclick="del()">Deletar</button>
		
					</form>
				</div>
			</div>
		<script type="text/javascript" src="delete.js"></script>
</body>
</html>